.main-header{background:url(../images/header.png);height:120px;margin:0;}.footer{background:url(../images/header.png)!important;height:70px!important;width:100%;}.footer-text{padding-top:25px;text-align:center;color:#000000;font-size: 70%;}.dropdown-menu{top:27px!important;left:0;z-index:1000}.header-menu{margin:0px}.home_icon{margin-left:30px;display:inline;float:left}.navigation_menu{display:inline;float:left}.login-module{display:inline;float:right;margin:10px 15px 0 0}.header-inner{display:inline!important}.header-logo{display:inline;width:150px;}#login-link{visibility:visible}#login-form{position:absolute;top:5px;right:0;visibility:hidden;z-index:10001;margin:0 15px 0 0;border:1px solid #000;padding:5px;background-color:#BABABA}#uid1,#uid2{font-size:11px;color:red;visibility:hidden}.plugin_adjust1{float:left;margin-right:3px}.plugin_adjust2{margin-top:2px;margin-right:2px;float:left}.webbanner{text-align:center}#slideshow{position:relative;width:100%;height:100px;padding:10px}#slideshow>div{position:absolute}.control-label2{float:left;width:135px;padding: 5px 0 0 5px;}.controls2{margin-left:150px;}#error-msg{visibility: hidden;color:#FF0000;font-size: 14px;}
.error1{font:11px;color:#FF0000;visibility: hidden;}
.loader{
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 150px;
}#g_rashi_notice,#b_rashi_notice{width: 180px;}
.nakshatratable,.nakshatratr{width:450px;margin: 10px 0;}
.nakshatratdl{width:220px;float:left}.nakshatratdr{width:220px;float:right;}.selectcomp{width:180px;}#match_message{width:450px;height:50px;padding:10px;background-color: #FFFFFF;border:1px solid black;font-weight: bold;}
.image-logo{max-height: 150%;max-width:90%;}.mini-spacer{margin-top:10px !important;}
.select2{padding: 6px 12px;}.form-text{padding:6px 12px;width:20%;}
.ui-autocomplete-loading {
    background: white url("images/ajaxloader.gif") right center no-repeat;
  }#lagna_pob{ width: 25em; }.dropdown-menu>li>a {
color: #FFFFFF !important;
}
.dropdown-menu>li>a:hover {
color: #333 !important;
}#heading{font-family: "Georgia";margin:0px; align-content:center;}#heading a{text-decoration: none !important;}.head_title{color:#2d6ca2 !important;}.head_title:hover{color:#FFFFFF !important;}
.nav>li.active{background-color: aliceblue;font-weight: bold;}
.pagination{display:block !important;}
.pagenav {
	text-align: right
}

.pagenav ul {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
}

.pagenav li {
	display: inline;
	margin: 0px;
	padding: 0
}

.pagenav a,span.pagenav {
	padding: 0 14px;
	margin: 0;
	line-height: 1.9em;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left: 0px solid #ddd;
	display: inline-block;
	line-height: 1.9em;
}

.pagenav li:first-child a,.pagination-start span {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	border-left: solid 1px #ddd
}

.pagenav li:last-child a,.pagination-end span {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.pagination ul {
	margin: 10px 10px 10px 0;
	padding: 0
}

.pagination li {
	display: inline;
}

.pagination a {
	padding: 0 14px;
	line-height: 2em;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left: 0px solid #ddd;
	display: inline-block
}

.pagination .active a {
	cursor: default;
}

.pagination span,.pagination span  a:hover {
	cursor: default;
	padding: 0 14px;
	line-height: 2em;
}

.pagination li:first-child a {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.ui-widget-content a {
color: #428bca !important;
}
.ui-accordion-content {padding: 1em 1em;}